body{
	font-family: Arial, sans-serif;/*Устанавливаем тип шрифта для всего body*/
}
nav{
	width: 100%;/*Ширина Блока Навигации*/
	height: 38px;/*Высота Блока Навигации*/
	background: #259584;/*Цвет заливки*/
}
.logo{
	color: #fff;/*Цвет текста*/
	font-size: 22px;/*Размер шрифта*/
	line-height: 40px;/*Размещение текста внутри блока Навигации*/
	padding-left: 50px;/*Отступ слева*/
	float: left;/*Нужно для размещения элементов блока Навигации на одной линии*/
}
.menu{
	float: left;/*Нужно для размещения элементов блока Навигации на одной линии*/
	padding-left: 600px;/*Отступ слева*/
	color: #fff;/*Цвет текста*/
	font-size: 20px;/*Размер шрифта*/
}
.menu li{
	float: left;/*Нужно для размещения элементов блока Навигации на одной линии*/
	font-size: 10px;/*Размер шрифта*/
	line-height: 40px;/*Размещение текста внутри блока Навигации*/
	color: #fff;/*Цвет текста*/
	margin-right: 15px;/*Отступ с права после каждого блока меню*/
	text-transform: uppercase;/*Сделаем все буквы - заглавными*/
	padding-top: 7px;/*Отступ сверху*/
}
.main{
	width: 100%;/*Высота центрального окна*/
	height: calc(100% - 38px);/*Высота Центрльного окна 100% минус 40 пикселей отведенных на меню*/
	background: url(../img/Рисунок_1.jpg) center/cover no-repeat;/*Размещение изображения по центру окна*/
}
.title_container{
	float: left;
	padding-left: 120px;/*Отступ слева*/
	padding-top: 230px;/*Отступ сверху*/
	color: blueviolet;/*цвет текста*/
	text-align: center;/*Отцентровка текста*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
}
.title_container h1{/*Редактируем Главный заголовок*/
	font-size: 60px;/*Устанавливаем размер шрифта для Заголовка h1*/
	font-weight: bold;/*Делаем шрифт жирным*/
}
.title_container h4{/*Редактируем второй заголовок*/
	margin-top: 15px/*Отступ сверху*/;
	font-size: 25px;/*Устанавливаем размер шрифта для Заголовка h4*/
	color: #49418d;
}
.title_container input{/*Редактируем кнопки*/
	height: 30px;/*Установим высоту Кнопок*/
	width: 150px;
	text-align: center;/*Делаем текст внутри кнопок по центру*/
	margin-top: 15px/*Отступ сверху*/;
	margin-right: 20px;/*Делаем отступ между кнопками*/
	font-size: 20px;/*Устанавливаем размер шрифта для Кнопок*/
	color: blueviolet;/*Устанавливаем цвет текста внутри кнопок*/
	border: 2px solid blueviolet;/*Рисуем окантовку кнопок*/
	background: none;/*Делаем заливку Кнопок прозрачной*/
	border-radius: 7px;/*Закругляем углы рамки Кнопок*/
	padding: 0px 16px;/*Ставим отступы от окантовки Кнопок сверху и снизу 0 пикселей, а с права и с лева 16 пикселей*/
}
.container_1{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	/*background: url(../img/insect-6033093_960_720.jpg) center/cover no-repeat;*//*Цвет заливки*/
}
.container_1 h2{
	text-align: center;
	font-size: 45px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 100px;
}
.exempl_blok{
	margin-top: 30px;
	margin-left: 506px;
	border: 3px solid #fff;
	border-radius: 100%;
	width: 15%;
	height: 20%;
	overflow: hidden;
}
.container_1 p{
	margin-top: 30px;
	width: 70%;
	text-align: center;
	padding-left: 370px;
	color: black;
}
.container_1 input{/*Редактируем кнопки*/
	text-align: center;/*Делаем текст внутри кнопок по центру*/
	height: 30px;/*Установим высоту Кнопок*/
	margin: 30px 300px 100px 510px;
	font-size: 20px;/*Устанавливаем размер шрифта для Кнопок*/
	color: blueviolet;/*Устанавливаем цвет текста внутри кнопок*/
	border: 2px solid blueviolet;/*Рисуем окантовку кнопок*/
	background: none;/*Делаем заливку Кнопок прозрачной*/
	border-radius: 7px;/*Закругляем углы рамки Кнопок*/
	padding: 0px 16px;/*Ставим отступы от окантовки Кнопок сверху и снизу 0 пикселей, а с права и с лева 16 пикселей*/
}
.container_2{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	background: url(../img/depositphotos.jpg) center/cover no-repeat;/*Цвет заливки*/
}
.container_2 h2{
	text-align: center;
	font-size: 45px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 200px;
}
.skills{
	float: left;
	text-size: 10px;
	margin-right: 15px;/*Отступ с права после каждого блока меню*/
}
.skills li{
	float: left;
	width: 250px;
	margin-top: 100px;
	margin-left: 30px;
	text-align: center;
	margin-right: 10px;/*Отступ с права после каждого блока*/
	line-height: 20px;/*Размещение текста внутри блока*/
}
.skills h3{
	color: #f78755;
	font-weight: bold;/*Делаем шрифт жирным*/
}
.container_3{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	background: url(../img/green_fon.jpg) center/cover no-repeat;/*Цвет заливки*/
}
.container_3 h2{
	text-align: center;
	font-size: 45px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 30px;
}
p.bloktext{
	text-align: center;
	font-size: 15px;
}
.site{
	display: block;
	margin: auto;
	margin-top: 20px;
}
.calc{
	background: url(../img/calc_fon.jpg) center/cover no-repeat;/*Цвет заливки*/
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
}
.calc h2{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-top: 200px;
}
.calc h3{
	margin-top: 20px;
	margin-left: 400px;
	font-weight: bold;
	padding-bottom: 5px;
}
.calc select{
	margin-left: 400px;
	width: 410px;
	height: 25px;
	background: #eeee;
}
.calc p{
	margin-left: 400px;
	font-weight: bold;
	padding-top: 15px;
}
.calc input{/*Редактируем кнопки*/
	text-align: center;/*Делаем текст внутри кнопок по центру*/
	height: 30px;/*Установим высоту Кнопок*/
	margin: 50px 300px 300px 510px;
	font-size: 20px;/*Устанавливаем размер шрифта для Кнопок*/
	color: blueviolet;/*Устанавливаем цвет текста внутри кнопок*/
	border: 2px solid blueviolet;/*Рисуем окантовку кнопок*/
	background: none;/*Делаем заливку Кнопок прозрачной*/
	border-radius: 7px;/*Закругляем углы рамки Кнопок*/
	padding: 0px 16px;/*Ставим отступы от окантовки Кнопок сверху и снизу 0 пикселей, а с права и с лева 16 пикселей*/
}
.container_4{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	background: url(../img/fon_comp.jpg) center/cover no-repeat;/*Цвет заливки*/
}
.container_4 h2{
	text-align: center;
	font-size: 45px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 260px;
}
.static{
	float: left;
	text-size: 10px;
	margin-right: 15px;/*Отступ с права после каждого блока меню*/
}
.static li{
	float: left;
	width: 250px;
	margin-top: 100px;
	margin-left: 30px;
	text-align: center;
	margin-right: 10px;/*Отступ с права после каждого блока*/
	line-height: 20px;/*Размещение текста внутри блока*/
}
.static h3{
	color: #000;
	font-size: 20px;
}
.container_5{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	background: #cbd7d6;
}
.container_5 h2{
	text-align: center;
	font-size: 45px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 170px;
}
.blok_girl{
	margin-top: 30px;
	margin-left: 540px;
	border-radius: 50%;
	width: 10%;
	height: 17%;
	overflow: hidden;
}
.container_5 p{
	width: 600px;
	text-align: center;
	margin-left: 285px;
	font-size: 20px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 50px;
}
.contacts{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	background: url(../img/контакты_1.jpg) center/cover no-repeat;/*Цвет заливки*/;
}
.contacts h2{
	text-align: center;
	color: white;
	font-size: 40px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 50px;
}
.contacts p{
	width: 600px;
	color: white;
	text-align: center;
	margin-left: 285px;
	font-size: 20px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 20px;
}
.contacts li{
	float: left;
	width: 250px;
	margin-top: 30px;
	margin-left: 100px;
	text-align: center;
	margin-right: 10px;/*Отступ с права после каждого блока*/
	line-height: 15px;/*Размещение текста внутри блока*/
}
.contacts h3{
	text-align: center;
	color: white;
	font-size: 20px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 15px;
}
.contacts h4{
	width: 600px;
	color: white;
	text-align: center;
	margin-left: 285px;
	font-size: 20px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 140px;
}
.name_email{
	width: 250px;
	height: 25px;
	color: #d2d6dc;
	margin-left: 340px;
	padding-left: 5px;
	margin-top: 15px;
}
.name_email_1{
	width: 250px;
	height: 25px;
	color: #d2d6dc;
	padding-left: 5px;
}
.name_email_2{
	width: 504px;
	height: 235px;
	color: #d2d6dc;
	margin-top: 10px;
	margin-left: 340px;
}
.name_email_3{/*Редактируем кнопки*/
	text-align: center;/*Делаем текст внутри кнопок по центру*/
	height: 30px;/*Установим высоту Кнопок*/
	margin: 30px 300px 100px 510px;
	font-size: 20px;/*Устанавливаем размер шрифта для Кнопок*/
	color: #d2d6dc;/*Устанавливаем цвет текста внутри кнопок*/
	border: 2px solid #d2d6dc;/*Рисуем окантовку кнопок*/
	background: none;/*Делаем заливку Кнопок прозрачной*/
	border-radius: 7px;/*Закругляем углы рамки Кнопок*/
	padding: 0px 16px;/*Ставим отступы от окантовки Кнопок сверху и снизу 0 пикселей, а с права и с лева 16 пикселей*/
}