body{
	font-family: Arial, sans-serif;/*Устанавливаем тип шрифта для всего body*/
}
nav{
	width: 100%;/*Ширина Блока Навигации*/
	height: 38px;/*Высота Блока Навигации*/
	background: #259584;/*Цвет заливки*/
}
.logo{
	color: #fff;/*Цвет текста*/
	font-size: 22px;/*Размер шрифта*/
	line-height: 40px;/*Размещение текста внутри блока Навигации*/
	padding-left: 50px;/*Отступ слева*/
	float: left;/*Нужно для размещения элементов блока Навигации на одной линии*/
}
.menu{
	float: left;/*Нужно для размещения элементов блока Навигации на одной линии*/
	padding-left: 600px;/*Отступ слева*/
	color: #fff;/*Цвет текста*/
	font-size: 20px;/*Размер шрифта*/
}
.menu li{
	float: left;/*Нужно для размещения элементов блока Навигации на одной линии*/
	font-size: 10px;/*Размер шрифта*/
	line-height: 40px;/*Размещение текста внутри блока Навигации*/
	color: #fff;/*Цвет текста*/
	margin-right: 15px;/*Отступ с права после каждого блока меню*/
	text-transform: uppercase;/*Сделаем все буквы - заглавными*/
	padding-top: 7px;/*Отступ сверху*/
}
.main{
	width: 100%;/*Высота центрального окна*/
	height: calc(100% - 40px);/*Высота Центрльного окна 100% минус 40 пикселей отведенных на меню*/
	background: url(../img/1762b4f42c3f546ea8caffef73ced1d4.jpg) center/cover no-repeat;/*Размещение изображения по центру окна*/
}
.title_container{
	float: left;
	padding-left: 320px;/*Отступ слева*/
	padding-top: 230px;/*Отступ сверху*/
	color: blueviolet;/*цвет текста*/
	text-align: center;/*Отцентровка текста*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
}
.title_container h1{/*Редактируем Главный заголовок*/
	font-size: 60px;/*Устанавливаем размер шрифта для Заголовка h1*/
	font-weight: bold;/*Делаем шрифт жирным*/
}
.title_container h4{/*Редактируем второй заголовок*/
	margin-top: 15px/*Отступ сверху*/;
	font-size: 25px;/*Устанавливаем размер шрифта для Заголовка h4*/
	color: #49418d;
}
.title_container input{/*Редактируем кнопки*/
	height: 30px;/*Установим высоту Кнопок*/
	text-align: center;/*Делаем текст внутри кнопок по центру*/
	margin-top: 15px/*Отступ сверху*/;
	margin-right: 20px;/*Делаем отступ между кнопками*/
	font-size: 20px;/*Устанавливаем размер шрифта для Кнопок*/
	color: blueviolet;/*Устанавливаем цвет текста внутри кнопок*/
	border: 2px solid blueviolet;/*Рисуем окантовку кнопок*/
	background: none;/*Делаем заливку Кнопок прозрачной*/
	border-radius: 7px;/*Закругляем углы рамки Кнопок*/
	padding: 0px 16px;/*Ставим отступы от окантовки Кнопок сверху и снизу 0 пикселей, а с права и с лева 16 пикселей*/
}