.loaderArea {
  background: linear-gradient(90deg, #FF4E50 10%, #F9D423 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}
.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}
.loader:before,
.loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255,255,255,.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}
.loader:before {
  animation: animate 2s infinite linear;
}
@keyframes animate {
  0% {transform: rotate(0) skew(0);}
  100% {transform: rotate(180deg) skew(360deg);}
}
.loader:after {
  animation: animate2 2s infinite linear;
}
@keyframes animate2 {
  0% {transform: rotate(0) skew(0);} 
  100% {transform: rotate(-180deg) skew(-360deg);}
}
.loaderArea {/*Отключатель Лоадера*/
     display: none !important;
}

body{
	font-family: Arial, sans-serif;/*Устанавливаем тип шрифта для всего body*/
}

nav{
	width: 100%;/*Ширина Блока Навигации*/
	height: 38px;/*Высота Блока Навигации*/
	background: #259584;/*Цвет заливки*/
	position: fixed;
}
.logo{
	color: #fff;/*Цвет текста*/
	font-size: 22px;/*Размер шрифта*/
	line-height: 40px;/*Размещение текста внутри блока Навигации*/
	padding-left: 50px;/*Отступ слева*/
	float: left;/*Нужно для размещения элементов блока Навигации на одной линии*/
}
@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.logo{/*Объявляем анимацию @keyframes с именем comming для элемента logo*/
	-webkit- animation: comming 2.0s ease;/*Задержка открытия logo - 2 секунды*/
	-o- animation: comming 2.0s ease;/*Задержка открытия logo - 2 секунды*/
	animation: comming 2.0s ease;/*Задержка открытия logo - 2 секунды*/
}
.menu{
	padding-left: 470px;/*Отступ слева*/
	float: right;/*Прижимаем меню к правому краю окна*/
	margin-right: 25px;/*Отступ справа блока меню от правой границы окна*/
}
.menu li{
	float: left;/*Нужно для размещения элементов блока Навигации на одной линии*/
	font-size: 12px;/*Размер шрифта*/
	line-height: 26px;/*Размещение текста внутри блока Навигации*/
	color: #fff;/*Цвет текста*/
	margin-left: 20px;/*Отступ справа после каждого блока меню*/
	text-transform: uppercase;/*Сделаем все буквы - заглавными*/
	padding-top: 7px;/*Отступ сверху*/
}
.menu li a{
	transition: all 0.2s;
	color: white;
	transform: scale(1.0);
	display: inline-block;/*Делаем строчный элемент - блочным*/
}
.menu li a: visited{
	color: white;
}
.menu li a:hover{
	color: #e88604;
	transform: scale(1.1);
}
.menu li a:active{
	transform: scale(1.3);
	color: blueviolet;
}
@keyframes topshift{/*Объявляем анимацию @keyframes с именем topshift для элементов меню li*/
	from{
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}
.menu li{
	-webkit- animation: topshift 0.5s ease forwards;/*Задержка открытия li - 2 секунды*/
	-o- animation: topshift 0.5s ease forwards;/*Задержка открытия li - 2 секунды*/
	animation: topshift 0.5s ease forwards;/*Задержка открытия li - 2 секунды*/
	opacity: 0;
}
.menu li:nth-child(2){
	animation-delay: 0.4s;
}
.menu li:nth-child(3){
	animation-delay: 0.8s;
}
.menu li:nth-child(4){
	animation-delay: 1.2s;
}
.menu li:nth-child(5){
	animation-delay: 1.6s;
}
.menu li:nth-child(6){
	animation-delay: 2.0s;
}

main{
	width: 100%;/*Ширина блока main*/
	height: 100%;/*Высота блока main*/
}
.main{
	width: 100%;/*Ширина центрального окна*/
	height: 100%;/*Высота Центрльного окна*/
	background: url(../img/777.png) 100% 100%/auto 90% no-repeat, url(../img/555.jpg) center/cover no-repeat;/*Размещение изображения по центру окна*/
}
.title_container{
	float: left;
	margin: 400px 0px 0px 250px;/*Устанавливаем внешние отступы блока*/
	color: blueviolet;/*цвет текста*/
	text-align: center;/*Отцентровка текста*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
}
.title_container h1{/*Редактируем Главный заголовок*/
	font-size: 80px;/*Устанавливаем размер шрифта для Заголовка h1*/
	font-weight: bold;/*Делаем шрифт жирным*/
}
.title_container h4{/*Редактируем второй заголовок*/
	margin-top: 15px/*Отступ сверху*/;
	font-size: 25px;/*Устанавливаем размер шрифта для Заголовка h4*/
	color: #49418d;
}
.title_container input{/*Редактируем кнопки*/
	height: 30px;/*Установим высоту Кнопок*/
	width: 150px;
	text-align: center;/*Делаем текст внутри кнопок по центру*/
	margin-top: 15px/*Отступ сверху*/;
	margin-right: 20px;/*Делаем отступ между кнопками*/
	font-size: 20px;/*Устанавливаем размер шрифта для Кнопок*/
	color: blueviolet;/*Устанавливаем цвет текста внутри кнопок*/
	border: 2px solid blueviolet;/*Рисуем окантовку кнопок*/
	background: none;/*Делаем заливку Кнопок прозрачной*/
	border-radius: 7px;/*Закругляем углы рамки Кнопок*/
	padding: 0px 16px;/*Ставим отступы от окантовки Кнопок сверху и снизу 0 пикселей, а с права и с лева 16 пикселей*/
}
.title_container input{
	transition: all 0.4s;/*Время на изменение характеристик блока при изменении его свойств*/
	transform: scale(1.0);/*Изначальный размер блока*/
}
.title_container input:hover{/*Изменение блока при наведении мыши*/
	background: #e88604;/*Цвет заливки кнопки при наведении мыши*/
	color: white;/*Цвет текста кнопки при наведении мыши*/
}
.title_container input:active{/*Изменение блока при его активации*/
	transform: scale(1.1);/*Увеличение размеров блока при его активации*/
}
@keyframes leftcoteiner{/*Объявляем анимацию @keyframes с именем leftcoteiner для Главного заголовка*/
	from{
		opacity: 0;/*Начальное положение заголовка*/
		margin-left: -500px;/*Прячем Заголовок с левой стороны за границей окна*/
	}
	to{
		opacity: 1;/*Конечное положение заголовка*/
		margin-left: 250px;/*Заголовок выплывает с левой стороны граници окна*/
	}
}
.title_container{
	-webkit- animation: leftcoteiner 1.0s ease forwards;/*Задержка всплытия Главного Заголовка в секундах*/
	-o- animation: leftcoteiner 1.0s ease forwards;/*Задержка всплытия Главного Заголовка в секундах*/
	animation: leftcoteiner 1.0s ease forwards;/*Задержка всплытия Главного Заголовка в секундах*/
	opacity: 0;
	-webkit- animation-delay: 2.0s;
	-o- animation-delay: 2.0s;
	animation-delay: 2.0s;
	opacity: 0;
}

.container_1{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	/*background: url(../img/insect-6033093_960_720.jpg) center/cover no-repeat;*//*Цвет заливки*/
}
.container_1 h2{
	text-align: center;
	font-size: 45px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 10%;
}
hr {
    height: 20px;
    margin: 30px auto;
    width: 70%;
    background-image: radial-gradient(farthest-side at 50% -50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    position: relative;
    border: none;
}
hr:before {
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0));
}

.exempl_blok{
	width: 13%;
	height: 21%;
	margin: 30px 44% 10px;
	border: 3px solid #fff;
	border-radius: 50%;
	overflow: hidden;
}
.container_1 p{
	margin-top: 30px;
	width: 50%;
	text-align: center;
	margin-left: 450px;
	margin-right: 250px;
	color: saddlebrown;
}
@keyframes left_paragraf_1{/*Объявляем анимацию @keyframes с именем leftcoteiner для Главного заголовка*/
	from{
		opacity: 0;/*Начальное положение заголовка*/
		margin-left: -600px;/*Прячем Заголовок с левой стороны за границей окна*/
	}
	to{
		opacity: 1;/*Конечное положение заголовка*/
		margin-left: 450px;/*Заголовок выплывает с левой стороны граници окна*/
	}
}
.paragraf_1{
	-webkit- animation: left_paragraf_1 2.0s ease forwards;/*Задержка выплывания первого параграфа в секундах*/
	-o- animation: left_paragraf_1 2.0s ease forwards;/*Задержка выплывания первого параграфа в секундах*/
	animation: left_paragraf_1 2.0s ease forwards;/*Задержка выплывания первого параграфа в секундах*/
	opacity: 0;
	-webkit- animation-delay: 3.0s;
	-o- animation-delay: 3.0s;
	animation-delay: 3.0s;
	opacity: 0;
}
@keyframes right_paragraf_2{/*Объявляем анимацию @keyframes с именем right_paragraf_2 для Главного заголовка*/
	from{
		opacity: 0;/*Начальное положение заголовка*/
		margin-left: 1200px;/*Прячем Заголовок с левой стороны за границей окна*/
	}
	to{
		opacity: 1;/*Конечное положение заголовка*/
		margin-left: 450px;/*Заголовок выплывает с левой стороны граници окна*/
	}
}
.paragraf_2{
	-webkit- animation: right_paragraf_2 2.0s ease forwards;/*Задержка выплывания второго параграфа в секундах*/
	-o- animation: right_paragraf_2 2.0s ease forwards;/*Задержка выплывания второго параграфа в секундах*/
	animation: right_paragraf_2 2.0s ease forwards;/*Задержка выплывания второго параграфа в секундах*/
	opacity: 0;
	-webkit- animation-delay: 4.0s;
	-o- animation-delay: 4.0s;
	animation-delay: 4.0s;
	opacity: 0;
}
.container_1 input{/*Редактируем кнопки*/
	text-align: center;/*Делаем текст внутри кнопок по центру*/
	height: 30px;/*Установим высоту Кнопок*/
	margin: 30px 45% 510px;
	font-size: 20px;/*Устанавливаем размер шрифта для Кнопок*/
	color: blueviolet;/*Устанавливаем цвет текста внутри кнопок*/
	border: 2px solid blueviolet;/*Рисуем окантовку кнопок*/
	background: none;/*Делаем заливку Кнопок прозрачной*/
	border-radius: 7px;/*Закругляем углы рамки Кнопок*/
	padding: 0px 16px;/*Ставим отступы от окантовки Кнопок сверху и снизу 0 пикселей, а с права и с лева 16 пикселей*/
}
.container_2{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	background: url(../img/depositphotos.jpg) center/cover no-repeat;/*Цвет заливки*/
}
.container_2 h2{
	text-align: center;
	font-size: 45px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 200px;
}
.skills{
	text-size: 10px;
	width: 100%;/*Расположить блок на всю ширину экрана*/
	margin-left: 250px;
}
.skills li{
	float: left;
	width: 250px;
	margin-top: 100px;
	text-align: center;
	margin-right: 50px;/*Отступ с права после каждого блока*/
	line-height: 20px;/*Размещение текста внутри блока*/
}
.skills h3{
	color: #f78755;
	font-weight: bold;/*Делаем шрифт жирным*/
}
.container_3{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	background: url(../img/green_fon.jpg) center/cover no-repeat;/*Цвет заливки*/
}
.container_3 h2{
	text-align: center;
	font-size: 45px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 30px;
}
p.bloktext{
	text-align: center;
	font-size: 20px;
}
.site{
	display: block;
	margin: auto;
	margin-top: 20px;
}
.calc{
	background: url(../img/calc_fon.jpg) center/cover no-repeat;/*Цвет заливки*/
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
}
.calc h2{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-top: 250px;
	margin-bottom: 80px;
}
.calc h3{
	margin-top: 20px;
	margin-left: 630px;
	font-weight: bold;
	padding-bottom: 5px;
}
.calc select{
	margin-left: 630px;
	width: 410px;
	height: 25px;
	background: #eeee;
}
.calc p{
	margin-left: 630px;
	font-weight: bold;
	padding-top: 15px;
}
.calc input{/*Редактируем кнопки*/
	text-align: center;/*Делаем текст внутри кнопок по центру*/
	height: 30px;/*Установим высоту Кнопок*/
	/*margin: 50px 300px 300px 730px;*/
	display: block;
	margin: 50px auto;
	font-size: 20px;/*Устанавливаем размер шрифта для Кнопок*/
	color: blueviolet;/*Устанавливаем цвет текста внутри кнопок*/
	border: 2px solid blueviolet;/*Рисуем окантовку кнопок*/
	background: none;/*Делаем заливку Кнопок прозрачной*/
	border-radius: 7px;/*Закругляем углы рамки Кнопок*/
	padding: 0px 16px;/*Ставим отступы от окантовки Кнопок сверху и снизу 0 пикселей, а с права и с лева 16 пикселей*/
}
.parallax {/*Создаем Паралакс эффект*/
    background: url(../img/fon_comp.jpg) center/cover no-repeat/*url(../img/bg.jpg)*/;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container_4{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
}
.container_4 h2{
	text-align: center;
	font-size: 45px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 260px;
}
.static{
	text-size: 10px;
	margin-left: 250px;/*Отступ с права после каждого блока меню*/
}
.static li{
	float: left;
	width: 250px;
	margin-top: 100px;
	margin-left: 30px;
	text-align: center;
	margin-right: 10px;/*Отступ с права после каждого блока*/
	line-height: 20px;/*Размещение текста внутри блока*/
}
.static h3{
	color: #000;
	font-size: 20px;
}
.container_5{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	background: #a1d1d6;
}
.container_5 h2{
	text-align: center;
	font-size: 45px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 170px;
}
.blok_girl{
	margin-top: 30px;
	margin-left: 750px;
	border-radius: 50%;
	width: 10%;
	height: 17%;
	overflow: hidden;
}
.container_5 p{
	width: 600px;
	text-align: center;
	margin-left: 530px;
	font-size: 20px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 50px;
}
.contacts{
	width: 100%;/*Ширина Блока*/
	height: 100%;/*Высота Блока*/
	background: url(../img/1_fon.jpg) center/cover no-repeat;/*Цвет заливки*/;
}
.contacts h2{
	text-align: center;
	color: white;
	font-size: 40px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	text-transform: uppercase;
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 150px;
}
.contacts p{
	width: 600px;
	color: white;
	text-align: center;
	margin-left: 530px;
	font-size: 20px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 20px;
}
.contacts ul{
	display: block;
	margin-left: 260px;
}
.contacts li{
	float: left;
	width: 250px;
	margin-top: 60px;
	margin-left: 100px;
	text-align: center;
	line-height: 15px;/*Размещение текста внутри блока*/
}
.contacts img{
	width: 25px;
}
.contacts h3{
	text-align: center;
	color: white;
	font-size: 20px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-weight: bold;/*Делаем шрифт жирным*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 15px;
}
.contacts h4{
	width: 600px;
	color: white;
	text-align: center;
	margin: 2px auto;
	font-size: 25px;/*Устанавливаем размер шрифта для Заголовка h2*/
	font-family: Times New Roman, sans-serif;/*Устанавливаем тип шрифта*/
	padding-top: 150px;
	word-spacing: 5px;
}
.name_email{
	width: 250px;
	height: 25px;
	color: #000;
	background: #d2d6dc;
	margin-left: 576px;
	padding-left: 5px;
	margin-top: 15px;
}
.name_email_1{
	width: 250px;
	height: 25px;
	color: #000;
	background: #d2d6dc;
	padding-left: 5px;
}
.name_email_2{
	width: 504px;
	height: 235px;
	color: #000;
	background: #d2d6dc;
	padding-left: 3px;
	padding-top: 3px;
	margin-top: 10px;
	margin-left: 576px;
}
.button{/*Редактируем кнопки*/
	margin: 20px auto;
	display: block;
	text-align: center;/*Делаем текст внутри кнопок по центру*/
	height: 30px;/*Установим высоту Кнопок*/
	font-size: 20px;/*Устанавливаем размер шрифта для Кнопок*/
	color: #d2d6dc;/*Устанавливаем цвет текста внутри кнопок*/
	border: 2px solid #d2d6dc;/*Рисуем окантовку кнопок*/
	background: none;/*Делаем заливку Кнопок прозрачной*/
	border-radius: 7px;/*Закругляем углы рамки Кнопок*/
	padding: 0px 26px;/*Ставим отступы от окантовки Кнопок сверху и снизу 0 пикселей, а с права и с лева 16 пикселей*/
}
.imagin{
	margin: 40px 690px;
}
.cont1{
	height: 25px;
	width: 40px;
	margin-left: 15px;
}